/*
    Basic styles.
 */

body {
    width: 400px;
    height: 200px;
    margin: 0;
    background-color: #202d3b;
    color: #fff;
    font-family: Lato;
}

div.status {
    height: 100%;
}

div.status .running {
    padding: 1rem;
    background-color: #1abc9c;
    height: 100%;
}

div.status .running .project {
    display: block;
    width: 100%;
    font-size: 3rem;
}

div.status .running .start {
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

div.status .running .tags {
    margin: 1rem 0;
}

div.status .running .tags .tag {
    background-color: #202d3b;
    padding: 0.1rem 0.5rem 0.3rem;
    margin-right: 0.4rem;
}

div.status .stopped {
    padding: 1rem;
    text-align: center;
    font-style: italic;
}

