{% extends "layout.html" %}

{% block content %}
    <div class="status">
    {% if status.project %}
        <div class="running">
            <div class="project">{{ status.project }}</div>
            <div class="start">
                started at <span class="from">{{ status.start }}</span>
            </div>
            {% if status.tags|length %}
            <div class="tags">
                {% for tag in status.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="stopped">Nothing currently tracked</div>
    {% endif %}
    </div>
{% endblock %}
