{% extends "layout.html" %}

{% block content %}
    <div class="status">
    {% if state.project %}
        <div class="running">
            <div class="timer" id="timer">00:00:00</div>
            <div class="project">{{ state.project }}</div>
            <div class="start">
                started at <span class="from">{{ state.start_format }}</span>
            </div>
            {% if state.tags|length %}
            <div class="tags">
                {% for tag in state.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <script>
            initializeTimer('timer', '{{ state.start }}');
        </script>
    {% else %}
        <div class="stopped">Watson is not running</div>
    {% endif %}
    </div>
{% endblock %}
